body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:#f5c542;
}

/* MOBILE APP FRAME */
#app{
max-width:420px;
margin:0 auto;
height:100vh;
display:flex;
flex-direction:column;
}

/* LOGIN */
#loginView{
display:flex;
flex-direction:column;
gap:10px;
padding:20px;
margin-top:100px;
}

/* INPUTS */
input,button,select{
padding:12px;
border-radius:10px;
border:none;
margin-top:8px;
width:100%;
}

/* CALENDAR */
.calendar{
padding:10px;
}

#calendarGrid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:8px;
}

.day{
width:38px;
height:38px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
background:#151515;
font-size:12px;
}

/* AGENDA */
.agenda{
padding:10px;
}

.card{
background:#151515;
padding:10px;
margin-top:8px;
border-radius:10px;
font-size:12px;
}

.green{border-left:4px solid #2ecc71}
.yellow{border-left:4px solid #f1c40f}
.red{border-left:4px solid #e74c3c}

/* MODAL */
#modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.modal{
background:#111;
padding:15px;
border-radius:12px;
width:90%;
}
