body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:#f5c542;
}

#app{display:none}

.card{
background:#1c1c1c;
padding:15px;
margin:10px;
border-radius:12px;
}

input,button{
padding:10px;
margin:5px;
border-radius:8px;
border:none;
width:90%;
}

button{
background:#1c1c1c;
color:#f5c542;
cursor:pointer;
}

button:hover{background:#333}

.topbar{
background:#111;
padding:10px;
display:flex;
gap:10px;
flex-wrap:wrap;
}

.grid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:5px;
padding:10px;
}

.day{
background:#1c1c1c;
padding:10px;
text-align:center;
border-radius:8px;
cursor:pointer;
}

/* MATRIX (CINE STYLE) */
.matrix{
display:grid;
grid-template-columns:120px repeat(4,1fr);
gap:5px;
padding:10px;
}

.cell{
padding:10px;
text-align:center;
border-radius:8px;
cursor:pointer;
}

.free{background:#2a2a2a}
.pending{background:orange;color:black}
.booked{background:red;color:white}
.confirmed{background:green;color:white}
